@use "./sass/utils/zoom.scss";
.ardoiseRestaurant{
  counter-reset: steps;
    ol{
      display: flex;
      gap: 1rem;
      @media (max-width:800px) {
        flex-direction: column;
      }
    }
    &::before{
      content: counter(steps);
      counter-increment: (steps);
    }
     
   }
          &{
            padding: 0.5rem;
            margin: 0.5rem 0 1rem 0.75rem;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
            border-radius: 1.25rem;
            background-color: #f6f6f6;
            display: flex;
            position: relative;
    }

    .animation{
      
      list-style-type: none;
        border-radius: 1,rem;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem; 
        border-radius: 50px;
        flex-grow: 1;
      @include base-shadow;
        &:hover{
          @include zoom;
        }
        & i.fas{
          margin: 1rem;
          color: black;
          width: 1rem; 
          height: 1rem;
          border-radius: 30%;
      }
      li button .numero{
        margin: 2rem;
        font-size: 1rem;
        color: white;
        background-color: #935bd9;
        width: 0.5rem; 
        height: 0.5rem;
        border-radius: 60%;
       }
         
 } 



    
  