@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat&family=Raleway&family=Roboto+Serif:wght@800;900&family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,700&family=Shrikhand&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: "roboto", sans-serif;
}

header{
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem  #d9d9d9;
  padding: 0.3rem;
  position: relative;
}
 
main .gastro{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

main .gastro{
 font-size: 1.5rem;
}